.begin {
    background: #15848F;
}

.end {
    background: #DC143C;
}

button {
    border-radius: 20%;
}

.form button:hover, .form button:focus {
    background: black;
}

.form button.begin, .form button.end {
    float: none;
    margin-left: 45%;
}
