textarea {
    font-family: "Consolas", "Monaco", "Menlo", "Courier", monospace;
}

.begin {
    background: #15848F;
}

.end {
    background: #DC143C;
}

button {
    border-radius: 20%;
}

.form button:hover, .form button:focus {
    background: black;
}

.form button.begin, .form button.end {
    float: none;
    margin-left: 45%;
}

.content h3 {
    padding-bottom: 0;
    margin-bottom: 0;
}

table td {
    word-break: unset;
}

.task td {
    font-family: "Consolas", "Monaco", "Menlo", "Courier", monospace;
    font-size: x-small;
    line-height: unset;
    text-align: justify;
    background-color: #fafafa;
}

table tr.billable {
    background-color: beige;
}

table tr.billable td.diff {
    font-size: medium;
    font-weight: bold;
}

.diff {
    color: red;
}

.larger th, .larger td {
    font-size: large;
}

.smaller th, .smaller td {
    font-size: x-small;
}
